.server-error {
  div {
    div {
      min-height: 75vh;
      display: flex;
      h3 {
        width: 100%;
        align-self: center;
        text-align: center;
        color: rgb(209, 50, 90);
      }
    }
  }
}
