.radio_widjet_bg {
  background: lightblue;
  min-height: 70vh;
  margin: 2rem 0rem 2rem 0rem;
  .album_img {
    position: relative;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    flex-grow: 10;
    img {
      width: 100%;
      height: auto;
    }
    .album_decription {
      width: 100%;
      position: absolute;
      bottom: 1rem;
      left: 0rem;
      z-index: 2;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      div:nth-of-type(1) {
        flex-grow: 5;
        p:nth-of-type(1) {
          text-align: center;
          text-transform: lowercase;
          mark {
            color: white;
            background-color: #ff0044;
          }
        }
        p:nth-of-type(2) {
          mark {
            background-color: #ff0044;
            color: white;
          }
          font-weight: 600;
          text-align: center;
        }
      }
      div:nth-of-type(2) {
        flex-grow: 5;
        p:nth-of-type(1) {
          text-transform: lowercase;
          mark {
            color: white;
            background-color: #ff0044;
          }
          text-align: center;
        }
        p:nth-of-type(2) {
          text-align: center;
          font-weight: 600;
          mark {
            color: white;
            background-color: #ff0044;
          }
        }
      }
    }
  }
  .radio_widjet_controls {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    div:nth-of-type(1) {
      background-color: lightgrey;
      border: 1px solid white;
      flex-grow: 8;
      padding: 0.3rem;
      div.duration {
        margin-top: 1.3rem;
        padding: 0;
        height: 0.7rem;
        border: 1px solid red;
        background-color: white;
        div.duration_bar {
          height: 0.6rem;
          background-color: blue;
          border: 0;
        }
      }
    }
    div:nth-of-type(2) {
      background-color: lightgrey;
      border: 1px solid white;
      position: relative;
      width: 15%;
      cursor: pointer;
      flex-grow: 2;
      svg {
        position: absolute;
        top: 10%;
        left: 10%;
      }
    }
  }
}
