.header-right-sidebar {
  h3 {
    mark {
      background-color: #ffc000;
      text-transform: uppercase;
      box-shadow: 10px 0 0 #ffc000, -10px 0 0 #ffc000;
    }
  }

  .article_right_sidebar {
    cursor: pointer;
    width: 100%;
    height: auto;
    overflow: hidden;
    white-space: normal;
    padding: 0;
    p{
      color: #000;
      font-size: 1.35vw;
      line-height: 1.2rem;
      text-align: justify;
      &:hover{
        color: rgb(100, 99, 99);
      }
      img {
        max-width: 10rem;
        max-height: 6rem;
        float:left;
        margin: 0rem 0.4rem 0rem 0rem ;
      }
    }
  }
}

