.trending-news-header {
  div:nth-of-type(1) {
    h3 {
      mark {
        cursor: pointer;
        background-color: #ffc000;
        color: #000;
        text-transform: uppercase;
        box-shadow: 10px 0 0 #ffc000, -10px 0 0 #ffc000;
        font-size: 1.4375rem;
        font-weight: 700;
      }
    }
  }

  div:nth-of-type(2) {
    p {
      cursor: pointer;
      color: #fc1049;
      font-weight: 700;
      font-size: 1.25rem;
      text-align: center;
      font-style: italic;
    }
  }
}

.trending-news-article {
  margin-top: 0.5rem;
  div {
    cursor: pointer;
    height: 14rem;
    width: 100%;
    position: relative;
    .article-number {
      background-color: #fc1049;
      position: absolute;
      width: 35px;
      height: 35px;
      top: -0.3125rem‬;
      right: -0.3125rem;
      z-index: 2;
      span {
        display: block;
        font-style: italic;
        font-weight: 700;
        font-size: 1.375rem;
        color: #fff;
        margin: 0 auto;
        padding-left: 0.5rem;
      }
    }
    h5 {
      position: absolute;
      bottom: 3rem;

      mark {
        font-size: 1rem;
        font-weight: 700;
        background-color: #fff;
        box-shadow: 10px 0 0 #fff, 0 0 0 #fff;
      }
    }
  }
}

@media screen and (max-width: 766px) {

  .trending-news-article {
    div {
      height: 100%;
      margin-bottom: 3rem;
      .article-number {
        top: -0.5rem !important;
        right: 0.5rem !important;
      }
      h5 {
        bottom: -1rem !important;
        width: 75%;
      }
    }
  }
}

