div.preloader {
  min-height: 90vh;
  padding-top: 5rem !important;
  overflow: hidden;
  div {
    height: auto;
    div.progress {
      background-color: #d3d3d35e;
      height: 2rem;
      margin: 0.75rem 0 0 0.75rem;
      padding-right: 0px;
      padding-left: 0px;
      div.progress-bar {
        box-shadow: inset 0px 0px 20px 0px;
        background-color: #888888 !important;
        background-image: linear-gradient(to right, #f8f8f8, #d3d3d36b);
      }
    }
    div.progress:last-of-type {
      margin-bottom: 0.5rem;
    }
  }
}
