.slider {
  width: 100%;
  max-height: 32rem;
  overflow: hidden;
  button.arrow-left.btn {
    position: absolute;
    left: 0.2rem;
    top: 45%;
    z-index: 4;
    cursor: pointer;
    background-color: lightseagreen;
    border: 0;
    outline: none !important;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    span{
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
  button.arrow-right.btn {
    cursor: pointer;
    position: absolute;
    right: 0.2rem;
    top: 45%;
    z-index: 4;
    border: 0;
    outline: none !important;
    border-radius: 50%;
    background-color: lightseagreen;
    width: 2.5rem;
    height: 2.5rem;
    span{
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
  .navigation-panel {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    z-index: 4;
    width: 100%;
    p{
      text-align: center;
      span {
        display: inline-block;
        background-color: red;
        margin: 0.1rem;
        width: 0.3rem;
        height: 0.3rem;
      }
    }
  }
  .window-images-slider {
    margin-top: 1rem;
    display: -webkit-inline-box;
    display: inline-flex;
    max-height: 31rem;
    width: 100%;
    position: relative;
    div:nth-of-type(1) {
      cursor: pointer;
      height: 30rem;
      width: 100%;
      position: absolute;
      left: -100%;
      img {
        width: 100%;
        height: auto;
      }
      p{
        position: absolute;
        top: -0.3rem;
        font-size: 1rem;
        opacity: .7;
        mark{
          background-color: orange;
          color: white;
        }
      }
    }
    div:nth-of-type(2) {
      cursor: pointer;
      height: 30rem;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
      p{
        position: absolute;
        top: -0.3rem;
        font-size: 2.5rem;
        opacity: .7;
        &:hover{
          opacity: 1;
        }
        mark{
          color: white;
          background-color: #fc1049;
        }
      }
    }
    div:nth-of-type(3) {
      height: 30rem;
      width: 100%;
      position: absolute;
      right: -100%;
      img {
        width: 100%;
        height: auto;
      }
      p{
        position: absolute;
        top: 1rem;
        mark{
          background-color: green;
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .slider {
    max-height: 22rem;
    .window-images-slider {
      max-height: 22rem;
      div:nth-of-type(2) {
        p{
          top: -0.3rem;
          font-size: 2rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .slider {
    max-height: 16rem;
    .window-images-slider {
      max-height: 16rem;
      .navigation-panel {
        bottom: 0rem;
      }
    }
  }
}
@media screen and (max-width: 414px) {
  .slider {
    .window-images-slider {
      max-height: 13rem;
      div:nth-of-type(2) {
        p{
          top: -0.3rem;
          font-size: 1.7rem !important;
        }
      }
    }
  
  }
}

@media screen and (max-width: 375px) {
  .slider {
    max-height: 13rem;
    .window-images-slider {
      max-height: 13rem;
      div:nth-of-type(2) {
        p{
          top: -0.3rem;
          font-size: 1.3rem !important;
        }
      }
    }
    .navigation-panel {
      bottom: -1.5rem;
      p{
        span {
          width: 0.3rem;
          height: 0.3rem;
        }
      }
    }
  
  }
}
